<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <iframe
      src="https://giphy.com/embed/sJWNLTclcvVmw"
      width="480"
      height="480"
      frameborder="0"
      class="giphy-embed"
      allowfullscreen
    ></iframe>
    <p>
      <a href="https://giphy.com/gifs/tongue-goodnight-sJWNLTclcvVmw"></a>
    </p>
  </div>
</ion-content>
